<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>
            Smart Zone
        </title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="css/home.css">
    </head>
    
<body>
    <div class="mynavbar">
    <navbar>
        <a href="">Logo</a>
        <a href="">Home</a>
        <a href="">Shirts</a>
        <a href="">T-Shirts</a>
        <a href="">Shoes</a>
        <a href="">Accessories</a>
        <a href="">Login/Register</a>
    </navbar>
    </div>
    <div class="slide">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/1.jpeg" class="d-block w-100" alt="..." width="75%">
              </div>
              <div class="carousel-item">
                <img src="images/2.jpg" class="d-block w-100" alt="..." width="75%">
              </div>
              <div class="carousel-item">
                <img src="images/3.jpg" class="d-block w-100" alt="..." width="75%">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div></div>
          <div class="box">
            <h3 style="font-weight: bolder;">Shirts</h3>
            <h3><a href="" style="text-decoration: none;">View All</a></h3>
            </div>
            <div class="card-deck">
              <div class="card">
                <img src="images/shirt1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rare Rabbit</h5>
                  <p class="card-text">Men White & Teal Blue Slim Fit Striped Casual Shirt.</p>
                  <h5 style="color: red;">Price - 999/-</h5>
                </div>
                <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
              </div>
              <div class="card">
                <img src="images/shirt2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rare Rabbit</h5>
                  <p class="card-text">Men White & Teal Blue Slim Fit Striped Casual Shirt.</p>
                  <h5 style="color: red;">Price - 999/-</h5>
                </div>
                <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
              </div>
              <div class="card">
                <img src="images/shirt3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rare Rabbit</h5>
                  <p class="card-text">Men White & Teal Blue Slim Fit Striped Casual Shirt.</p>
                  <h5 style="color: red;">Price - 999/-</h5>
                </div>
                <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
              </div>
              <div class="card">
                <img src="images/shirt3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rare Rabbit</h5>
                  <p class="card-text">Men White & Teal Blue Slim Fit Striped Casual Shirt.</p>
                  <h5 style="color: red;">Price - 999/-</h5>
                </div>
                <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
              </div>
            </div>
            <div class="box">
                <h3 style="font-weight: bolder;">T-Shirts</h3>
                <h3><a href="" style="text-decoration: none;">View All</a></h3>
                </div>
                <div class="card-deck">
                  <div class="card">
                    <img src="images/tshirt1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">HERE&NOW</h5>
                      <p class="card-text">HERENOW Men Black Pure Cotton Solid Round Neck Pure Cotton T-shirt.</p>
                      <h5 style="color: red;">Price - 999/-</h5>
                    </div>
                    <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                  </div>
                  <div class="card">
                    <img src="images/tshirt2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">HERE&NOW</h5>
                      <p class="card-text">HERENOW Men Black Pure Cotton Solid Round Neck Pure Cotton T-shirt.</p>
                      <h5 style="color: red;">Price - 999/-</h5>
                    </div>
                    <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                  </div>
                  <div class="card">
                    <img src="images/tshirt3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">HERE&NOW</h5>
                      <p class="card-text">HERENOW Men Black Pure Cotton Solid Round Neck Pure Cotton T-shirt.</p>
                      <h5 style="color: red;">Price - 999/-</h5>
                    </div>
                    <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                  </div>
                  <div class="card">
                    <img src="images/tshirt3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">HERE&NOW</h5>
                      <p class="card-text">HERENOW Men Black Pure Cotton Solid Round Neck Pure Cotton T-shirt.</p>
                      <h5 style="color: red;">Price - 999/-</h5>
                    </div>
                    <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                  </div>
                </div>
                <div class="box">
                    <h3 style="font-weight: bolder;">Hoodies</h3>
                    <h3><a href="" style="text-decoration: none;">View All</a></h3>
                    </div>
                    <div class="card-deck">
                      <div class="card">
                        <img src="images/hoodie1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">H&M</h5>
                          <p class="card-text">Men Relaxed Fit Hoodie.</p>
                          <h5 style="color: red;">Price - 999/-</h5>
                        </div>
                        <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                      </div>
                      <div class="card">
                        <img src="images/hoodie2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">H&M</h5>
                          <p class="card-text">Men Relaxed Fit Hoodie.</p>
                          <h5 style="color: red;">Price - 999/-</h5>
                        </div>
                        <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                      </div>
                      <div class="card">
                        <img src="images/hoodie3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">H&M</h5>
                          <p class="card-text">Men Relaxed Fit Hoodie</p>
                          <h5 style="color: red;">Price - 999/-</h5>
                        </div>
                        <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                      </div>
                      <div class="card">
                        <img src="images/hoodie3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">H&M</h5>
                          <p class="card-text">Men Relaxed Fit Hoodie</p>
                          <h5 style="color: red;">Price - 999/-</h5>
                        </div>
                        <button class="btn btn-success">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
                      </div>
                      
                    </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script></body>
     
</html>